:root {
  --light-pink: #fdf5f5;
  --primary-yellow: #ffd432;
  --dark-blue: #110066;
  --light-blue: #90cbfb;
  --grey: #919191;
  --body-font: "Raleway";
  --logo-font: "Chewy";
  box-sizing: border-box;
}

html {
  height: 100vh;
  min-width: 600px;
  background-color: var(--light-pink);
  background-size: auto;
}

header {
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 5%;
}

.header-content-logo {
  display: flex;
  align-items: center;
}

.header-logo-img {
  width: 50px;
}

.header-logo-title {
  font-family: var(--logo-font);
  color: var(--dark-blue);
  font-size: 2.5rem;
  margin-left: 20px;
}

.header-content-menu {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--body-font);
  font-weight: 300;
  font-size: 1.2rem;
}

.header-content-menu a {
  text-decoration: none;
  color: var(--dark-blue);
}

.header-content-login {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--body-font);
  font-weight: 600;
  font-size: 1.3rem;
}

.header-content-login a {
  text-decoration: none;
  color: var(--dark-blue);
}

.register-button {
  width: 150px;
  height: 50px;
  font-family: var(--body-font);
  font-weight: 600;
  border: none;
  background-color: var(--primary-yellow);
  font-size: 1.3rem;
  border-radius: 15px;
  box-shadow: -1px 10px 20px rgb(156, 156, 156);
  cursor: pointer;
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.pet-shop {
  display: flex;
  height: 1000px;
  width: 90%;

  justify-content: center;
  align-items: center;
  height: 110%;
  width: 100%;
}

.img-site-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.png-site-info {
  display: flex;
  width: 60%;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.text-site-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  width: 50%;
}

.title-site-info {
  font-size: 300%;
  font-size: 450%;
  font-family: var(--body-font);
  color: var(--dark-blue);
  font-weight: 400;
  width: 60%;
  margin-right: 200px;
}

footer {
  height: 100px;
  background-image: linear-gradient(#ffd432, #efbd00);
  display: flex;
  align-items: center;
}

.footer-content {
  width: 300px;
  display: flex;
  align-items: center;
  margin: auto;
}

.footer-logo-img {
  width: 30px;
}

.footer-logo-title {
  font-family: var(--logo-font);
  color: var(--dark-blue);
  font-size: 2rem;
  margin-left: 20px;
}



div {
  display: inline-block;
  height: 74px;
  width: calc(33%-124px);
  left: -134px;
  top: -198px;
  border-radius: [object Object]px;
  background: #E7E7E7;
  background: #FFD432;

}

.box-vet {
  background-color: var(--primary-yellow);
  width: 325px;
  height: 177px
}

.classe {
  height: 74px;
  width: 124px;
  left: -1470px;
  top: -674px;
  border-radius: [object Object]px;
  background: #E7E7E7;



}


background-color:#2F4F4F;
border:solid 1px;
border-radius:15px;
width:300px;
}

#txtBusca {
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-style: italic;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 260px;
}