:root {
  --light-pink: #fdf5f5;
  --primary-yellow: #ffd432;
  --dark-blue: #110066;
  --light-blue: #90cbfb;
  --grey: #919191;
  --body-font: "Raleway";
  --logo-font: "Chewy";
  box-sizing: border-box;
}

html {
  height: 100vh;
  min-width: 600px;
  background-color: var(--light-pink);
  background-size: auto;
}

header {
  height: 100px;
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 5%;
}

.header-content-logo {
  display: flex;
  align-items: center;
}

.header-logo-img {
  width: 50px;
}

.header-logo-title {
  font-family: var(--logo-font);
  color: var(--dark-blue);
  font-size: 2.5rem;
  margin-left: 20px;
}

.header-content-menu {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--body-font);
  color: var(--dark-blue);
  font-weight: 300;
  font-size: 1.2rem;
}

.header-content-menu a {
  text-decoration: none;
  color: var(--dark-blue);
}

footer {
  height: 100px;
  background-image: linear-gradient(#ffd432, #efbd00);
  display: flex;
  align-items: center;
}

.footer-content {
  width: 300px;
  display: flex;
  align-items: center;
  margin: auto;
}

.footer-logo-img {
  width: 30px;
}

.footer-logo-title {
  font-family: var(--logo-font);
  color: var(--dark-blue);
  font-size: 2rem;
  margin-left: 20px;
}

/* Página de login e cadastro */

.page-content {
  background-color: white;
  width: 1250px;
  margin: 100px auto 100px;
  border-radius: 15px;
  height: calc(100vh - 300px);
}

.page-content-register {
  background-color: var(--primary-yellow);
  width: 50%;
  height: calc(100% - 100px);
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0;
}

.page-content-register-title {
  font-family: var(--body-font);
  font-weight: 600;
  color: var(--dark-blue);
  font-size: 2.5rem;
  margin-bottom: 100px;
}

.form-register {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.register-input {
  outline: none;
  border-radius: none;
  border: none;
  width: 450px;
  height: 55px;
  padding: 0 10px;
  font-size: 1rem;
  font-family: var(--body-font);
}

.button-register {
  height: 55px;
  font-family: var(--body-font);
  font-weight: 600;
  border: none;
  background-color: var(--dark-blue);
  font-size: 1.3rem;
  border-radius: 15px;
  cursor: pointer;
  color: white;
}
