:root {
  --light-pink: #fdf5f5;
  --primary-yellow: #ffd432;
  --dark-blue: #110066;
  --light-blue: #90cbfb;
  --grey: #919191;
  --body-font: "Raleway";
  --logo-font: "Chewy";
  box-sizing: border-box;
}

html {
  height: 100vh;
  min-width: 600px;
  background-color: var(--light-pink);
  background-size: auto;
}

header {
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 5%;
}

.header-content-logo {
  display: flex;
  align-items: center;
}

.header-logo-img {
  width: 50px;
}

.link-back{
  text-decoration: none;
}

.header-logo-title {
  font-family: var(--logo-font);
  color: var(--dark-blue);
  font-size: 2.5rem;
  margin-left: 20px;
}

.header-content-menu {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--body-font);
  font-weight: 300;
  font-size: 1.2rem;
}

.header-content-menu a {
  text-decoration: none;
  color: var(--dark-blue);
}

.header-content-login {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--body-font);
  font-weight: 600;
  font-size: 1.3rem;
}

.header-content-login a {
  text-decoration: none;
  color: var(--dark-blue);
}

.register-button {
  width: 150px;
  height: 50px;
  font-family: var(--body-font);
  font-weight: 600;
  border: none;
  background-color: var(--primary-yellow);
  font-size: 1.3rem;
  border-radius: 15px;
  box-shadow: -1px 10px 20px rgb(156, 156, 156);
  cursor: pointer;
}

.register-pet{
   padding: 9% 0 0 4%;
}

.register-pet-button{
  height: 50px;
  font-family: var(--body-font);
  font-weight: 600;
  border: none;
  background-color: var(--primary-yellow);
  font-size: 1.3rem;
  border-radius: 15px;
  box-shadow: -1px 10px 20px rgb(156, 156, 156);
  cursor: pointer;
}

.list-lost-pets{
  padding: 4% 0 0 0;
}

#boxVet{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.active{
  background-color: var(--primary-yellow);
  margin: auto auto 15px auto;
  border-radius: 15px;
}

.activeIMg{
  border-radius: 15px 15px 0 0;
  width: 500px;
}

.activeText{  
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-blue);
  font-family: var(--logo-font);
  margin: 5px 0 5px 0;
  font-size: 1.3rem;
}

footer {
  height: 100px;
  background-image: linear-gradient(#ffd432, #efbd00);
  display: flex;
  align-items: center;
}

.footer-content {
  width: 300px;
  display: flex;
  align-items: center;
  margin: auto;
}

.footer-logo-img {
  width: 30px;
}

.footer-logo-title {
  font-family: var(--logo-font);
  color: var(--dark-blue);
  font-size: 2rem;
  margin-left: 20px;
}

@media (max-width: 923px) {
  .register-pet{
    padding: 17% 0 0 3%;
  }

  .list-lost-pets{
    padding: 4% 0 0 0;
  }
}