:root {
  --light-pink: #fdf5f5;
  --primary-yellow: #ffd432;
  --dark-blue: #110066;
  --light-blue: #90cbfb;
  --grey: #919191;
  --body-font: "Raleway";
  --logo-font: "Chewy";
  box-sizing: border-box;
}

html {
  height: 100vh;
  min-width: 600px;
  background-color: var(--light-pink);
  background-size: auto;
}

header {
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 5%;
}

.header-content-logo {
  display: flex;
  align-items: center;
}

.header-logo-img {
  width: 50px;
}

.header-logo-title {
  font-family: var(--logo-font);
  color: var(--dark-blue);
  font-size: 2.5rem;
  margin-left: 20px;
}

.header-content-menu {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--body-font);
  font-weight: 300;
  font-size: 1.2rem;
}

.header-content-menu a {
  text-decoration: none;
  color: var(--dark-blue);
}

.header-content-login {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--body-font);
  font-weight: 600;
  font-size: 1.3rem;
}

.header-content-login a {
  text-decoration: none;
  color: var(--dark-blue);
}

.register-button {
  width: 150px;
  height: 50px;
  font-family: var(--body-font);
  font-weight: 600;
  border: none;
  background-color: var(--primary-yellow);
  font-size: 1.3rem;
  border-radius: 15px;
  box-shadow: -1px 10px 20px rgb(156, 156, 156);
  cursor: pointer;
}

.site-info{
  display: flex;
  align-items: flex-end;
  height: 650px;
  width: 90%;
}  

.img-site-info{
  display: flex;
  justify-content: center;
  align-items: center;
}  

.png-site-info{
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}  

.text-site-info{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 50%;
}  

.title-site-info {
  font-size: 280%;
  font-family: var(--body-font);
  color: var(--dark-blue);
  font-weight: 400;
  width: 60%;
  margin-right: 200px;
}    

.vets{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 160px;
}  

.img-vets{
  display: flex;
  justify-content: center;
  align-items: center;
}  

.png-vets{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63%;
}  

.text-vets {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}  

.title-vets {
  font-size: 280%;
  justify-content: center;
  align-items: center;
  font-family: var(--body-font);
  color: var(--dark-blue);
  font-weight: 400;
}  

.pet-shop{
  display: flex;
  height: 700px;
  width: 90%;
}

.img-pet-shop{
  display: flex;
  justify-content: center;
  align-items: center;
}

.png-pet-shop{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.text-pet-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.title-pet-shop {
  font-size: 280%;
  font-family: var(--body-font);
  color: var(--dark-blue);
  font-weight: 400;
}


.hotels{
  display: flex;
  width: 90%;
}    

.img-hotels {
  display: flex;
  justify-content: center;
  align-items: center;
}    

.png-hotels{
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
}    

.info-ong{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 100%;

}    

.text-info-ong {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 40%;
  
 
}    

.title-info-ong {
  font-size: 300%;
  font-family: var(--body-font);
  color: var(--dark-blue);
  font-weight: 400;
  text-align: center;
}    

.register-button-ong{
  width: 288px;
  height: 74px;
  font-family: var(--body-font);
  font-weight: 600;
  border: none;
  background-color: var(--primary-yellow);
  font-size: 2.7rem;
  border-radius: 15px;
  box-shadow: -1px 10px 20px rgb(156, 156, 156);
  cursor: pointer;
  margin-top: 30px;
  
}    

footer {
  height: 100px;
  background-image: linear-gradient(#ffd432, #efbd00);
  display: flex;
  align-items: center;
}

.footer-content {
  width: 300px;
  display: flex;
  align-items: center;
  margin: auto;
}

.footer-logo-img {
  width: 30px;
}

.footer-logo-title {
  font-family: var(--logo-font);
  color: var(--dark-blue);
  font-size: 2rem;
  margin-left: 20px;
}